{% extends 'base.html.twig' %}

{% block title %}New Secteur{% endblock %}

{% block body %}
    <h1>Create new Secteur</h1>

    {{ include('admin/secteur/_form.html.twig') }}

    <a href="{{ path('admin_secteur_index') }}">back to list</a>
{% endblock %}
